# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.sln
*.suo
*.user
*.userosscache
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# Build output
Build/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Rider
.idea/
